@charset "UTF-8";



body{
background-color: #ffffcc;

}

#container{
  width: 900px;
  margin:0px auto;
  background-color:#cccccc;
  border-left: solid 4px #ff9933;
  border-right: solid 4px #ff9933;
}

header{
  width: 900px;
  height: 200px;
 background-image: url("koya_p.jpg");
 background-repeat: no-repeat;
background-size: cover;
}

aside{
  width:200px;
  float: left;
}

.main{
  width: 660px;
  padding: 20px;
  background-color: #ffffff;
  float: left;
}


footer{
  width:900px;
  clear:both;
  background-color: #000000;
}

#title-words{
  padding-top: 115px;
  padding-right: 20px;
  text-align: right;
  color: white;
  font-size: 28px;
  font-weight:
}


#subtitle-words{
  padding-top: 4px;
  padding-right: 20px;
  text-align: right;
  color:white;
  font-size: 12px;
  font-weight: bold;
}



nav ul{list-style-type:none}

nav a{
  text-decoration: none;
  font-size: 11pt;
  font-weight: bold;
  color: #ffffff;
  display: block;
  height: 25px;
  padding: 12px 0px 3px 10px;
  border-top: solid 1px #ffffff
}

a.nav-last{
  border-bottom: solid 1px #ffffff;
}

.sub a{
  font-size: 10pt;
  font-weight: normal;
  height: 20px;
  padding:10px 0px 3px 30px;
  border-top: dotted 1px #999999;
}

nav a:hover{
  background-color: red;
}

aside p {
  padding: 30px 8px;
  font-size: 10px;
}

footer p{
  padding: 10px 0px;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
}

p.honbun{
  margin:0px 0px 15px;
  font-size: 10px;
  line-height: 1.7
}

body{
background-color:#ccff99;
}

.container{
  margin-left: auto;
  margin-right: auto;
  background-image: url("aozora.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:800px;
  width:1000px;
}

.container h1{
  color: white;
  font-family:fantasy;
  font-size: 30px;
  text-align: right;
  padding:30px 30px 0px 30px;
}

.container p {
  color: white;
  font-family: fantasy;
  text-align: right;
  padding-right: 40px;
}

.bottom-black{
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  height: 30px;
  width:1000px;
  text-align: center;
}


.select-1{
  width:350px;
  height: 150px;
  border: solid 8px rgba(255,0,0,0.7);
  border-radius: 50px;
  background-color:rgba(0,100,10,0.5);
  float: left;
  margin-left: 90px;
  margin-top: 60px;
}

.select-2{
  width:350px;
  height: 150px;
  border: solid 8px rgba(255,0,0,0.7);
  border-radius: 50px;
  background-color:rgba(0,100,10,0.5);
  float: left;
  margin-left: 90px;
  margin-top: 60px;
}


.select-3{
  width:350px;
  height: 150px;
  border: solid 8px rgba(255,0,0,0.7);
  border-radius: 50px;
  background-color:rgba(0,100,10,0.5);
  float: left;
  margin-left: 90px;
  margin-top: 90px;
}

.select-4{
  width:350px;
  height: 150px;
  border: solid 8px rgba(255,0,0,0.7);
  border-radius: 50px;
  background-color:rgba(0,100,10,0.5);
  float: left;
  margin-left: 90px;
  margin-top: 90px;
}

.kimi{
  clear:both;
  text-align: center;
  font-family: sans-serif;
}
